<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>magneticow</title>
    <link rel="stylesheet" href="static/styles/reset.css">
    <link rel="stylesheet" href="static/styles/essential.css">
    <link rel="stylesheet" href="static/styles/homepage.css">
    <!-- <script src="script.js"></script> -->
</head>
<body>
<main>
    <div><b>magnetico<sup>w</sup></b>&#8203;<sub>(pre-alpha)</sub></div>
    <form action="/torrents" method="get" autocomplete="off" role="search">
        <input type="search" name="query" placeholder="Search the BitTorrent DHT" autofocus>
    </form>
</main>

<footer>
    ~{{ comma .NTorrents }} torrents available (see the <a href="/statistics">statistics</a>).
</footer>
</body>
</html>
