[Unit]
Description=magneticod: autonomous BitTorrent DHT crawler and metadata fetcher

[Service]
ExecStart=~/.local/bin/magneticod --node-addr 0.0.0.0:PORT_NUMBER
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
