header {
    display: flex;
    align-items: center;
    align-content: center;

    width: 100%;

    padding-bottom: 0.833em;
    border-bottom: 1px solid;
    margin-bottom: 0.833em;
}

@media only screen and (max-device-width: 800px) {
    header {
        flex-direction: column;
    }
}

header div a {
    text-decoration: none;
    color: inherit;
}


header form {
    max-width: 600px;
    width: 100%;

    margin-left: 0.5em;
    margin-right: 0.5em;
}


header form input {
    width: 100%;
}


header > div {
    margin-right: 0.5em;
}

footer {
    margin-top: 0.833em;

    display: flex;
    justify-content: space-between;
}


footer form {
    display: inline;
}


footer button {
    font-size: 0.833em;
}


footer button:nth-child(1) {
    margin-right: 0.833em;
}


footer button:nth-child(2) {
    margin-left: 0.833em;
}

ul li {
    border: 1px solid;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 0.5em;
}

ul li div {
    margin-bottom: 0.25em;
}

ul li div h3 {
    margin: 0;
    word-break: break-all;
}

a {
    color: black;
    text-decoration: none;
}


